@model SalesWebMVC.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<h6 class="text-danger">@Model.Message</h6>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div>
    <a asp-action="Index" class="btn btn-secondary mt-4" role="button">Back To List</a>
</div>