@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<dl>
    <dt>
        Professor
    </dt>
    <dd>
        @ViewData["Professor"]
    </dd>
    <dt>
        Student
    </dt>
    <dd>
        @ViewData["Student"]
    </dd>
</dl>

<address>
    <strong>More information: </strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>

<address>
    <strong>UDEMY: </strong> <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/">UDEMY - C# Completo - Programação Orientada a Objetos + Projetos</a>
</address>